<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <div class="brand-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg>
            </div>
            <span>CrisisMesh</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-lg-4">
                <a class="nav-link fw-medium px-3" href="/requests">Requests</a>
                <a class="nav-link fw-medium px-3" href="/offers">Offers</a>
            </div>
            <div class="navbar-nav ms-auto gap-2">
                <a class="btn btn-primary text-white px-4" href="/requests/new">Report Need</a>
                <a class="btn btn-outline-dark px-4" href="/offers/new">Offer Help</a>
            </div>
        </div>
    </div>
</nav>
